.c-card-blurb {
    &__link {
        display: block;
    }
    &__figure {
        position: relative;
        width: 100%;
        height: 200px;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top right;
    }
}

@include min(1200px) {
    .c-card-blurb {
        &__figure {
            height: 250px;
        }
    }
}