@font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../../fonts/CeraPro-Regular.woff2') format('woff2'),
}

@font-face {
    font-family: 'Cera Pro';
    font-style: medium;
    font-weight: 500;
    src: local(''),
        url('../../fonts/CeraPro-Medium.woff2') format('woff2'),
}

@font-face {
    font-family: 'Cera Pro';
    font-style: bold;
    font-weight: 700;
    src: local(''),
            url('../../fonts/CeraPro-Bold.woff2') format('woff2'),
    }