.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    &--fluid {
        max-width: none;
    }
}

@include min(768px) {
    .container {
        max-width: 730px;
        &--fluid {
            max-width: none;
        }
    }
}

@include min(992px) {
    .container {
        max-width: 930px;
        &--fluid {
            max-width: none;
        }
    }
}

@include min(1300px) {
    .container {
        max-width: 1270px;
    }
}