.ui-slider-arrow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
    background-color: #fff;
    cursor: pointer;
    z-index: 1;
    &__line {
        &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 55%;
        width: 60%;
        height: 3px;
        background-color: #000;
        border-radius: 10px;
        transform-origin: center left;
        }
        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &:after {
            top: calc(50% + 2px);
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    &--next {
        right: -40px;
        transform: scale(-1);
    }
    &--prev {
        left: -40px;
    }
    
    &--inside {
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        background-color: transparent;
        &.ui-slider-arrow {
            &--next {
                right: 30px;
                transform: translateY(-50%) scale(-1);
            }
            &--prev {
                left: 30px;
            }
        }
        .ui-slider-arrow__line {
            &:before, &:after {
                background-color: #fff;
            }
        }
    }
}

@include min(768px) {
    .ui-slider-arrow {
        display: block;
    }
}

@include min(992px) {
    .ui-slider-arrow {
        &__line {
            &:before, &:after {
                transition-duration: .3s;
            }
        }
        &:hover {
            .ui-slider-arrow__line {
                &:before, &:after {
                    background-color: #ED3237;
                }
            }
        }
        &--inside {
            &.ui-slider-arrow {
                &--next {
                    right: 20px;
                }
                &--prev {
                    left: 20px;
                }
            }
        }
    }
}

@include min(1200px) {
    .ui-slider-arrow {
        width: 40px;
        &--next {
            right: -60px;
        }
        &--prev {
            left: -60px;
        }
    }
}