@import 'base/mix.scss';
@import 'base/reset.scss';
@import 'base/fonts.scss';
@import 'base/grid.scss';

@import 'components/logo.scss';
@import 'components/list-news.scss';
@import 'components/time.scss';
@import 'components/short-news.scss';
@import 'components/blurb/blurb-first.scss';
@import 'components/blurb/blurb-second.scss';
@import 'components/sliders/basic-slider.scss';
@import 'components/sliders/news-slider.scss';
@import 'components/sliders/rating.scss';
@import 'components/sliders/now-popular.scss';

@import 'ui/slider-arrow.scss';
@import 'ui/title.scss';
@import 'ui/button.scss';

@import 'layouts/footer/index.scss';

.main {
    &__basic-slider {
        margin-bottom: 30px;
    }
    &__list-news-first, &__list-news-fifth {
        margin-bottom: 35px;
    }
    &__list-news-second, 
    &__list-news-third, 
    &__list-news-fourth, 
    &__list-news-fifth, 
    &__blurb-first, 
    &__rating, 
    &__now-popular {
        margin-bottom: 40px;
    }
    &__short-news, 
    &__news-slider {
        margin-bottom: 45px;
    }
}

.fixing {
    overflow: hidden;
}

@include min(992px) {
    .main {
        &__basic-slider {
            margin-bottom: 40px;
        }
        &__list-news-first, &__list-news-fifth {
            margin-bottom: 45px;
        }
        &__list-news-second, 
        &__list-news-third, 
        &__list-news-fourth, 
        &__list-news-fifth, 
        &__blurb-first, 
        &__rating, 
        &__now-popular {
            margin-bottom: 50px;
        }
        &__short-news, 
        &__news-slider {
            margin-bottom: 55px;
        }
    }
}