.c-logo {
    position: relative;
    display: block;
    width: 126px;
    height: 28px;
    &--footer {
        width: 184px;
        height: 41px;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
    }
}