.c-time {
    display: block;
    margin-bottom: 10px;
    font-size: rem(12);
    font-weight: 500;
    color: #000;
    opacity: 0.5;
    &--white {
        color: #fff;
    }
}

@include min(992px) {
    .c-time {
        font-size: rem(14);
    }
}